.cuadro{
    height: 100px;
}

.th-semanas{
    background-color: sandybrown;
    width: 100px;
    text-align: center;
}

.cuadro-deshabilitado{
    height: 80px;
    background-color: gray;
}

.agregar-evento{
    width: 20px;
    height: 20px;
}
body{
    background-color: red;
}

tr td{
    padding: 0 !important;
    margin: 0 !important;
    
}

.container{
    padding-left: 0px !important;
    padding-right: 0px !important;
    display:flex
}

i{
    padding-left: 5px;
}

.dividido{
    display:flex
}

.cuadro-evento{
    border-left-style: solid;
    border-left-width: 3px;
    border-right-style: solid;
    border-right-width: 3px;
}

.cuadro-evento-titulo{
    border-top-style: solid;
    border-top-width: 3px;
    border-left-style: solid;
    border-left-width: 3px;
    border-right-style: solid;
    border-right-width: 3px;
}